@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div ng-controller="ProductController as ctrl">
        <!-- <h1>{{ctrl.vendorName}}</h1> ng-hide="product.vendorName == 'Cat Inc'" -->

        <div class="col-sm-6 col-lg-4 ng-scope" ng-repeat="product in ctrl.products">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>{{ product.ProductName}}</h3>
                </div>
                <div class="panel-body">
                    <img class="img-circle center-block" ng-src="{{product.ProductImageURL}}" />
                    <p class="pull-right">Price: {{product.ProductPrice | currency}}</p>
                    <p>Inventory: {{product.ProductInventory}}</p>
                    <p>Seller: {{product.Vendor.VendorName}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
