@{
    ViewData["Title"] = "Home Page";
}

<div ng-app="store" ng-controller="ProductController">
    <h1 ng-hide="vendorName.vendorName == 'Cat Inc'">{{vendorName.vendorName}}</h1>

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="product in products">
            <h3>{{ product.productName}}</h3>            
            <p>Price: {{product.productPrice | currency}}</p>
        </li>
    </ul>
</div>
