@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["VendorName"].ToString()</h1>

<div ng-app="store">
    <div ng-controller="ProductController">
        <ul class="list-group">
            <li class="list-group item" ng-repeat="product in ProductController.Products">
                <h3>{{product.productName}}</h3>
            </li>
        </ul>
        {{ProductController.Test}}
    </div>
</div>